h2 {
    color: blue;
}
.delete {
    margin-right: 15px;
    color:rgb(252, 252, 252);
    background-color: darkmagenta;
}
.create {
    color:rgb(252, 252, 252);
    background-color: darkmagenta;
}

#title{
    font-size: 80px;
    font-weight: 100px;
    color:rgb(255, 255, 255)
}

h2 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-style:italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    padding-right: 30px !important;
    padding-left: 30px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

#todoWrapper {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(218, 208, 221);
    font-size: 20px;
    font-weight: normal;
}

#titleWrapper {
    background-color: rgba(157, 20, 220, 0.603);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 70px;
}

#create-task {
    margin-top: 20px;
} 

.taskContent {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.check {
    width: 20px;
    height: 20px;
}